name: Deploy Staging (Surge)

on:
  push:
    branches: [ "develop" ]

jobs:
  deploy-staging:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Surge
        run: npm install --global surge

      - name: Deploy to Surge Staging
        run: surge ./ https://najeebpatoana-lab8.surge.sh --token ${{ secrets.SURGE_TOKEN }}